# SMTP Mail Configuration
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_USER="bayanmed.tech.coo@gmail.com"
SMTP_PASSWORD="<password>"

# Temporary notification recipients
WAREHOUSE_EMAIL="bassant.m@bayanmed.com"
SALES_COORDINATOR_EMAIL="bassant.m@bayanmed.com"
